html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f6f8fc;
    color: #111;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.logo span {
    color: #00b894;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00b894;
}

.nav-btn {
    background: #00b894;
    padding: 8px 15px;
    border-radius: 6px;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 40px;
    max-width: 1100px;
    margin: auto;
    gap: 40px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 38px;
    margin-bottom: 15px;
}

.hero-text span {
    color: #00b894;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 25px;
    color: #333;
}

.hero-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* SOCIAL ICONS */
.social-icons {
    margin-bottom: 25px;
    display: flex;
    gap: 15px;
}

.social-icons a {
    font-size: 22px;
    color: #00b894;
    background: white;
    padding: 10px 12px;
    border-radius: 50%;
    transition: 0.3s;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.social-icons a:hover {
    background: #00b894;
    color: white;
    transform: translateY(-5px);
}


.btn {
    background: #00b894;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #019874;
}

.btn-outline {
    border: 2px solid #00b894;
    color: #00b894;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-outline:hover {
    background: #00b894;
    color: white;
}

.btn-small:hover {
    background: #019874;
}

.btn-small-outline:hover {
    background: #00b894;
    color: white;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-box {
    width: 260px;
    height: 260px;
    background: #e6e6e6;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid #00b894;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SECTION */
.section {
    background: white;
    max-width: 1100px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.08);
}

.section h2 {
    margin-bottom: 15px;
    font-size: 26px;
    border-left: 5px solid #00b894;
    padding-left: 10px;
}

/* SKILLS */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-card:hover {
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}

.skill-card {
    background: #00b894;
    color: white;
    padding: 10px 18px;
    border-radius: 20px;
    font-weight: bold;
}

/* PROJECTS */
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background: #f6f8fc;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.12);
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.btn-small {
    background: #00b894;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.btn-small-outline {
    border: 2px solid #00b894;
    color: #00b894;
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

/* CONTACT */
.contact-box p {
    margin-bottom: 10px;
}

.contact-box a {
    color: #00b894;
    text-decoration: none;
    font-weight: bold;
}

/* SERVICES */
.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.service-card {
    background: #f6f8fc;
    padding: 25px;
    border-radius: 12px;
    transition: 0.3s;
    border-left: 5px solid #00b894;
}

.service-card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 3px 12px rgba(0,0,0,0.12);
}

.service-card h3 {
    margin-bottom: 10px;
    color: #111;
}


/* RESPONSIVE */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-buttons {
        justify-content: center;
    }

    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .social-icons {
    justify-content: center;
}


    /* FOOTER */
    .footer {
        text-align: center;
        background: #111;
        color: white;
        padding: 20px;
        margin-top: 30px;
    }
}
